.aside{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 9999;

    background-color: #8888888e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aside .card{
    /* max-width: 1000px; */
    
}